<div class="card-body">
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
            <input matInput placeholder="name" formControlName="name">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
            <input matInput placeholder="email" formControlName="email">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
            <input matInput placeholder="phone" formControlName="phone">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Mobile</p>
        </div>
        <div class="col-sm-9">
            <input matInput placeholder="mobile" formControlName="mobile">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Address</p>
        </div>
        <div class="col-sm-9">
            <input matInput placeholder="address" formControlName="address">
        </div>
    </div>
</div>