article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    font-size: larger;
    color: white;
}

article{ animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 30%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
