<!-- Main Wrapper -->
<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <div class="main-wrapper">
            <div class="error-box" style="text-align: center">
                <h1>404</h1>
                <h3><i class="fa fa-warning"></i> Oops! Page not found!</h3>
            </div>
            <a routerLink="/analysis" class="btn btn-custom" style="color: #3f51b5">
                <mat-icon>keyboard_arrow_left</mat-icon><mat-icon>keyboard_arrow_left</mat-icon></a>
            <div>
                <div class="alert alert-warning" style="margin-top: 20px;text-align: center">
                    <strong style="color: red;"><p>Warning!<br>The Server is currently down or Unavailable</p></strong>
                </div>
            </div>
<!--            <button mat-raised-button color="primary" style="background-color: #3f51b5;border-radius: 5px">-->
<!--                <a routerLink="/analysis" class="btn btn-custom" style="color: #FFFFFF">Return</a>-->
<!--            </button>-->
            <a routerLink="/analysis" class="btn btn-custom" style="color: #3f51b5">
                <mat-icon>keyboard_arrow_left</mat-icon><mat-icon>keyboard_arrow_left</mat-icon>
            </a>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->